.TodoList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .6);
    width: 66vw;
    padding: 2rem;

    #add-task {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        padding: 1rem;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    section.to-do{
        margin-bottom: 2rem;
    }

    section.to-do,
    section.done
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items:  flex-start;
        flex-direction: column;
    }
}