.TodoItem {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        margin-right: .5rem;
        font-size: 3rem;
        height: 2rem;
        transform: scale(1);
    }
}